In [4]:
import pandas as pd
import seaborn as sns

# Acquire data

In [3]:
articles_info_df = pd.read_csv('input/train_v2.csv', index_col='article_id')
articles_info_df.head()

,title,url,publisher,hostname,timestamp,category
article_id,,,,,,
1,Forex - Pound drops to one-month lows against ...,http://www.nasdaq.com/article/forex-pound-drop...,NASDAQ,www.nasdaq.com,1.390000e+12,4
2,Hertz to Exit Equipment Rental Business in $2....,http://www.foxbusiness.com/industries/2014/03/...,Fox Business,www.foxbusiness.com,1.400000e+12,2
3,Gold ETF inflows return,http://www.resourceinvestor.com/2014/03/09/gol...,Resource Investor,www.resourceinvestor.com,1.390000e+12,4
4,"Hackers call Mt. Gox CEO a liar, say he still ...",http://bgr.com/2014/03/10/mt-gox-fraud-accusat...,BGR,bgr.com,1.390000e+12,4
5,Gold Climbs To Near 6-Month High On Concerns A...,http://www.forbes.com/sites/kitconews/2014/03/...,Forbes,www.forbes.com,1.390000e+12,4

Distribution of different publishers

In [16]:
publisher_counts = articles_info_df.groupby('publisher').size().reset_index(name='count').sort_values(['count'], ascending=False)
publisher_counts.head()

                   publisher  count
956                  Reuters    167
158             Businessweek     99
778                   NASDAQ     95
443               GlobalPost     73
992  San Francisco Chronicle     71

In [15]:
len(articles_info_df['publisher'].unique())

1502

In [24]:
import pandas as pd
import os

features_dir = './features'
if not os.path.exists(features_dir):                                        
    os.makedirs(features_dir)

d = [
    {'id': 1, 'subject': 'math', 'mark': 88},
    {'id': 5, 'subject': 'finance', 'mark': 100},
    {'id': 2, 'subject': 'economics', 'mark': 76}
]
test_df = pd.DataFrame(d)
test_df = test_df.sort_values(by=['id'])
test_df.to_csv(os.path.join(features_dir, 'test.csv'), index=False)

# References

A Comprehensive Guide to Understand and Implement Text Classification in Python<br/>
https://www.analyticsvidhya.com/blog/2018/04/a-comprehensive-guide-to-understand-and-implement-text-classification-in-python/

# Training error

DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.

### part_of_speech_analyzer.py
DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working

pd.DataFrame()<br/>
ValueError: If using all scalar values, you must pass an index