In [1]:
import os
import pandas as pd
import numpy as np
from sklearn import metrics,preprocessing
from sklearn.cross_validation import train_test_split
import re

/home/zqs/anaconda3/lib/python3.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [42]:
import matplotlib.pyplot as plt

In [5]:
train_data = pd.read_csv("input/train_v2.csv")
test_data = pd.read_csv("input/test_v2.csv")

In [6]:
train_data.head()

,article_id,title,url,publisher,hostname,timestamp,category
0,1,Forex - Pound drops to one-month lows against ...,http://www.nasdaq.com/article/forex-pound-drop...,NASDAQ,www.nasdaq.com,1.390000e+12,4
1,2,Hertz to Exit Equipment Rental Business in $2....,http://www.foxbusiness.com/industries/2014/03/...,Fox Business,www.foxbusiness.com,1.400000e+12,2
2,3,Gold ETF inflows return,http://www.resourceinvestor.com/2014/03/09/gol...,Resource Investor,www.resourceinvestor.com,1.390000e+12,4
3,4,"Hackers call Mt. Gox CEO a liar, say he still ...",http://bgr.com/2014/03/10/mt-gox-fraud-accusat...,BGR,bgr.com,1.390000e+12,4
4,5,Gold Climbs To Near 6-Month High On Concerns A...,http://www.forbes.com/sites/kitconews/2014/03/...,Forbes,www.forbes.com,1.390000e+12,4

In [7]:
train_data['label']="__label__"+train_data.category.map(str)
#df['bar'] = df.bar.map(str) + " is " + df.foo

In [8]:
train_data.head()

,article_id,title,url,publisher,hostname,timestamp,category,label
0,1,Forex - Pound drops to one-month lows against ...,http://www.nasdaq.com/article/forex-pound-drop...,NASDAQ,www.nasdaq.com,1.390000e+12,4,__label__4
1,2,Hertz to Exit Equipment Rental Business in $2....,http://www.foxbusiness.com/industries/2014/03/...,Fox Business,www.foxbusiness.com,1.400000e+12,2,__label__2
2,3,Gold ETF inflows return,http://www.resourceinvestor.com/2014/03/09/gol...,Resource Investor,www.resourceinvestor.com,1.390000e+12,4,__label__4
3,4,"Hackers call Mt. Gox CEO a liar, say he still ...",http://bgr.com/2014/03/10/mt-gox-fraud-accusat...,BGR,bgr.com,1.390000e+12,4,__label__4
4,5,Gold Climbs To Near 6-Month High On Concerns A...,http://www.forbes.com/sites/kitconews/2014/03/...,Forbes,www.forbes.com,1.390000e+12,4,__label__4

In [9]:
with open('train.txt', 'w',errors='ignore') as myfile:
    for i in range(len(train_data['label'])):
        myfile.write(train_data['label'][i] +" "+train_data['title'][i]+ '\n')

In [10]:
with open('test.txt', 'w',errors='ignore') as myfile:
    for i in range(len(test_data['title'])):
        myfile.write(test_data['title'][i]+ '\n')

In [12]:
with open('train_full.txt', 'w',errors='ignore') as myfile:
    for i in range(len(train_data['label'])):
        filename='raw_train/'+str(i+1)+'.txt'
        if os.path.exists(filename):
            with open(filename, 'r',errors='ignore') as data_file:
                data=data_file.read().replace('\n', '')
            myfile.write(train_data['label'][i] +" "+train_data['title'][i]+" "+data+ '\n')
        else:
            myfile.write(train_data['label'][i] +" "+train_data['title'][i]+ '\n')

In [15]:
#v2: remove numbers and punctuations
whitelist = set('abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ')
with open('train_full_clean.txt', 'w',errors='ignore') as myfile:
    for i in range(len(train_data['label'])):
        filename='raw_train/'+str(i+1)+'.txt'
        title=train_data['title'][i]
        title = re.sub(r"[,:.;@#\?\-\%\/!&$]+\ *", " ", title)
        title = ''.join(filter(whitelist.__contains__, title)).lower()
        title = ' '.join(title.split())
        if os.path.exists(filename):
            with open(filename, 'r',errors='ignore') as data_file:
                data=data_file.read().replace('\n', '')
                data = re.sub(r"[,:.;@#\?\-\%\/!&$]+\ *", " ", data)
                data = ''.join(filter(whitelist.__contains__, data)).lower()
                data=' '.join(data.split())
            myfile.write(train_data['label'][i] +" "+title+" "+data+ '\n')
        else:
            myfile.write(train_data['label'][i] +" "+title+ '\n')

In [16]:
with open('test_full.txt', 'w',errors='ignore') as myfile:
    for i in range(len(test_data['title'])):
        filename='raw_test/'+str(i+1)+'.txt'
        if os.path.exists(filename):
            with open(filename, 'r',errors='ignore') as data_file:
                data=data_file.read().replace('\n', '')
            myfile.write(test_data['title'][i]+" "+data+ '\n')
        else:
            myfile.write(test_data['title'][i]+ '\n')

In [17]:
#v2 remove numbers and punctuations
whitelist = set('abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ')
with open('test_full_clean.txt', 'w',errors='ignore') as myfile:
    for i in range(len(test_data['title'])):
        filename='raw_test/'+str(i+1)+'.txt'
        title=test_data['title'][i]
        title = re.sub(r"[,:.;@#\?\-\%\/!&$]+\ *", " ", title)
        title = ''.join(filter(whitelist.__contains__, title)).lower()
        title = ' '.join(title.split())
        if os.path.exists(filename):
            with open(filename, 'r',errors='ignore') as data_file:
                data=data_file.read().replace('\n', '')
                data = re.sub(r"[,:.;@#\?\-\%\/!&$]+\ *", " ", data)
                data = ''.join(filter(whitelist.__contains__, data)).lower()
                data=' '.join(data.split())
            myfile.write(title +" "+data+ '\n')
        else:
            myfile.write(title + '\n')

#code to test text preprocessing. remove numbers and punctuations
i=0
import re
#import pattern.en as en
whitelist = set('abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ')
filename='raw_train/'+str(i+1)+'.txt'
with open(filename, 'r') as myfile:
    data=myfile.read().replace('\n', '')
    print(data)
    clean = re.sub(r"[,:.;@#\?\-\%\/!&$]+\ *", " ", data)
    data = ''.join(filter(whitelist.__contains__, clean)).lower()#.replace('  ', ' ')
    #data = ''.join(filter(whitelist.__contains__, data))#.replace('  ', ' ')
    words=data.split()
    #for i in range(len(words)):
        #words[i]=en.lemma(words[i])
    #words=en.lemma(words)
    data=' '.join(words)
    
#base_form = en.lemma('Ate') # base_form == "eat"
#print(base_form)
    print(data)

In [ ]:
## generate

# Do classification using fasttext

In [2]:
#trainf='train_full_clean.txt'
trainf='train_full.txt'
#X = pd.read_csv(trainf,header=None,sep=",",names=['data'])
with open(trainf) as f:
    X = f.read().splitlines()

In [3]:
X = pd.DataFrame({"data": X})
X.head()

                                                data
0  __label__4 Forex - Pound drops to one-month lo...
1  __label__2 Hertz to Exit Equipment Rental Busi...
2  __label__4 Gold ETF inflows return Stock-marke...
3  __label__4 Hackers call Mt. Gox CEO a liar, sa...
4  __label__4 Gold Climbs To Near 6-Month High On...

X_train, X_vali= train_test_split(X['data'].values,test_size = 0.2)
with open('train_data.txt', 'w',errors='ignore') as myfile:
    for i in range(len(X_train)):
        myfile.write(X_train[i]+ '\n')
with open('vali_data.txt', 'w',errors='ignore') as myfile:
    for i in range(len(X_vali)):
        myfile.write(X_vali[i]+ '\n')

In [4]:
from sklearn.model_selection import KFold
kf = KFold(n_splits=5)

In [5]:
import fasttext

In [6]:
for train_index, test_index in kf.split(X):
    #print(len(train_index), len(test_index))
    X_train, X_test = X['data'][train_index].values, X['data'][test_index].values
    with open('train_temp.txt', 'w',errors='ignore') as myfile:
        for i in range(len(X_train)):
            myfile.write(X_train[i]+ '\n')
    with open('vali_temp.txt', 'w',errors='ignore') as myfile:
        for i in range(len(X_test)):
            myfile.write(X_test[i]+ '\n')
    classifier = fasttext.supervised('train_temp.txt', 'model',epoch=30,lr=0.1,loss='softmax')
    result = classifier.test('vali_temp.txt')
    print ('P@1:', result.precision)
    print ('R@1:', result.recall)
    print ('Number of examples:', result.nexamples)

P@1: 0.5265339966832504
R@1: 0.5265339966832504
Number of examples: 1206
P@1: 0.511608623548922
R@1: 0.511608623548922
Number of examples: 1206
P@1: 0.5161825726141079
R@1: 0.5161825726141079
Number of examples: 1205
P@1: 0.6838174273858921
R@1: 0.6838174273858921
Number of examples: 1205
P@1: 0.8572614107883817
R@1: 0.8572614107883817
Number of examples: 1205

In [84]:
print(classifier.epoch)

5

In [ ]:
texts = ['example very long text 1', 'example very longtext 2']
labels = classifier.predict(texts,k)
print labels

# Or with the probability
labels = classifier.predict_proba(texts)
print labels

# convert fasttext prediction to desired label format and save to prediction file

In [94]:
prediction = pd.read_csv("prediction_clean.txt",names=['colA'])

In [95]:
prediction.head()

         colA
0  __label__4
1  __label__0
2  __label__4
3  __label__4
4  __label__4

In [96]:
prediction['label'] = prediction.colA.str[9:]

In [97]:
prediction.head()

         colA label
0  __label__4     4
1  __label__0     0
2  __label__4     4
3  __label__4     4
4  __label__4     4

In [98]:
prediction['num_label']=pd.to_numeric(prediction['label'])

In [99]:
prediction.head()

         colA label  num_label
0  __label__4     4          4
1  __label__0     0          0
2  __label__4     4          4
3  __label__4     4          4
4  __label__4     4          4

In [100]:
prediction.describe()

         num_label
count  3826.000000
mean      2.513068
std       1.547661
min       0.000000
25%       1.000000
50%       3.000000
75%       4.000000
max       4.000000

In [101]:
test_data['category']=prediction['num_label']

In [102]:
test_data['category'].dtype

dtype('int64')

In [104]:
out=pd.DataFrame(test_data,columns=['article_id','category'])
out.to_csv('prediction_clean.csv',index=False)

# embedding

In [182]:
prediction1 = pd.read_csv("prediction_full_ng2.1.txt",delimiter=' ',names=['label1',"conf1",'label2',"conf2",'label3',"conf3",'label4',"conf4",'label5',"conf5"])

In [183]:
prediction1.head()

,label1,conf1,label2,conf2,label3,conf3,label4,conf4,label5,conf5
0,__label__2,0.615234,__label__4,0.285156,__label__3,0.050781,__label__0,0.027344,__label__1,0.015625
1,__label__0,0.322266,__label__2,0.277344,__label__4,0.263672,__label__1,0.074219,__label__3,0.058594
2,__label__4,0.328125,__label__2,0.253906,__label__1,0.154297,__label__3,0.134766,__label__0,0.123047
3,__label__4,0.617188,__label__2,0.210938,__label__3,0.070312,__label__0,0.050781,__label__1,0.046875
4,__label__4,0.945312,__label__2,0.039062,__label__1,0.005859,__label__3,0.003906,__label__0,0.001953

In [186]:
resultList1=[]
for i in range(prediction1.shape[0]):
    result=dict()
    result[prediction1.label1[i]]=prediction1.conf1[i]
    result[prediction1.label2[i]]=prediction1.conf2[i]
    result[prediction1.label3[i]]=prediction1.conf3[i]
    result[prediction1.label4[i]]=prediction1.conf4[i]
    result[prediction1.label5[i]]=prediction1.conf5[i]
    resultList1.append(result)

In [187]:
print(resultList1[0:2])

[{'__label__2': 0.6152340000000001, '__label__4': 0.285156, '__label__3': 0.0507813, '__label__0': 0.027343799999999998, '__label__1': 0.015625}, {'__label__0': 0.322266, '__label__2': 0.277344, '__label__4': 0.26367199999999996, '__label__1': 0.0742188, '__label__3': 0.0585938}]

In [189]:
len(resultList1)

3826

In [181]:
prediction2 = pd.read_csv("prediction_full_30.1.txt",delimiter=' ',names=['label1',"conf1",'label2',"conf2",'label3',"conf3",'label4',"conf4",'label5',"conf5"])

In [184]:
prediction2.head()

,label1,conf1,label2,conf2,label3,conf3,label4,conf4,label5,conf5
0,__label__2,0.476563,__label__4,0.447266,__label__3,0.035156,__label__0,0.023438,__label__1,0.011719
1,__label__0,0.322266,__label__4,0.292969,__label__2,0.246094,__label__1,0.082031,__label__3,0.052734
2,__label__4,0.378906,__label__2,0.294922,__label__1,0.134766,__label__3,0.103516,__label__0,0.080078
3,__label__4,0.628906,__label__2,0.218750,__label__3,0.058594,__label__0,0.056641,__label__1,0.033203
4,__label__4,0.921875,__label__2,0.058594,__label__1,0.007813,__label__3,0.003906,__label__0,0.001953

In [188]:
resultList2=[]
for i in range(prediction1.shape[0]):
    result=dict()
    result[prediction2.label1[i]]=prediction2.conf1[i]
    result[prediction2.label2[i]]=prediction2.conf2[i]
    result[prediction2.label3[i]]=prediction2.conf3[i]
    result[prediction2.label4[i]]=prediction2.conf4[i]
    result[prediction2.label5[i]]=prediction2.conf5[i]
    resultList2.append(result)

In [190]:
len(resultList2)

3826

In [192]:
predictList=[]
for i in range(len(resultList2)):
    final=[0.0,0.0,0.0,0.0,0.0]
    final[0]=resultList1[i]["__label__0"]+resultList2[i]["__label__0"]
    final[1]=resultList1[i]["__label__1"]+resultList2[i]["__label__1"]
    final[2]=resultList1[i]["__label__2"]+resultList2[i]["__label__2"]
    final[3]=resultList1[i]["__label__3"]+resultList2[i]["__label__3"]
    final[4]=resultList1[i]["__label__4"]+resultList2[i]["__label__4"]
    max_value = max(final)
    max_index = final.index(max_value)
    predictList.append(max_index)

In [193]:
predictList[0:10]

[2, 0, 4, 4, 4, 4, 4, 4, 2, 4]

In [194]:
test_data['category']=np.asarray(predictList)

In [195]:
test_data['category'].dtype

dtype('int32')

In [196]:
out=pd.DataFrame(test_data,columns=['article_id','category'])
out.to_csv('prediction_full_embedding.csv',index=False)