In [ ]:
'''
requirement:
pip install goose3
pip install pillow --upgrade
'''

In [1]:
from goose3 import Goose

In [25]:
url = 'http://driving.ca/mercedes-benz/auto-news/news/mercedes-benz-mulls-three-cylinder-hybrid-powertrains/'

In [2]:
g = Goose()

In [26]:
article = g.extract(url=url)

In [27]:
article.title

'Mercedes-Benz mulls three-cylinder hybrid powertrains'

In [28]:
article.meta_description

'Smaller Mercedes models could see a three-cylinder hybrid powertrain in the near future'

In [29]:
article.cleaned_text[-150:]

'maller vehicles, such as the B-Class, CLA-Class and GLA-Class, but Hiel maintained we wonâ€™t see a larger Mercedes with a three-cylinder in the future.'

In [14]:
len(article.cleaned_text)

2962

In [3]:
import os
import pandas as pd
import numpy as np

In [4]:
raw_dir = './raw_test'
if not os.path.exists(raw_dir):
    os.makedirs(raw_dir)

In [73]:
#articles_df = pd.read_csv("input/train_v2.csv")
articles_df = pd.read_csv("input/test_v2.csv")

In [74]:
articles_df.head()

,article_id,title,url,publisher,hostname,timestamp
0,1,White House plays down speedy role for US natu...,http://www.thestar.com.my/News/World/2014/03/0...,The Star Online,www.thestar.com.my,1.390000e+12
1,2,Asian Stocks Broadly Higher After Selloff,http://www.nasdaq.com/article/asian-stocks-bro...,NASDAQ,www.nasdaq.com,1.390000e+12
2,3,Herbalife Ltd. (HLF) Probe Earns Bill Ackman B...,http://www.valuewalk.com/2014/03/herbalife-ltd...,ValueWalk,www.valuewalk.com,1.390000e+12
3,4,BOE to Get Fourth Deputy Governor as Carney Fi...,http://www.businessweek.com/news/2014-03-11/bo...,Businessweek,www.businessweek.com,1.390000e+12
4,5,Pilots get scrutiny,http://www.dispatch.com/content/stories/nation...,Columbus Dispatch,www.dispatch.com,1.400000e+12

In [75]:
len(articles_df['url'])

3826

In [4]:
from difflib import SequenceMatcher

def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [63]:
import time

In [76]:
start_time = time.time()
for i in range(len(articles_df['url'])):
    url=articles_df['url'][i]
    try:
        article = g.extract(url=url)
    except:
        f = open(raw_dir+'/error.txt','a',errors='ignore')
        f.write(str(i+1)+ ",url_error\n")
        f.close()
        continue
    #print(article.title)
    #print(articles_df['title'][i])
    #print(article.title==articles_df['title'][i])
    #print(article.cleaned_text)
    if similar(article.title,articles_df['title'][i])<0.5:# and len(article.cleaned_text)<1000:
        #print("not found:")
        #print(article.title)
        #print(articles_df['title'][i])
        #print(article.cleaned_text)
        #print(len(article.cleaned_text))
        f = open(raw_dir+'/error.txt','a',errors='ignore')
        f.write(str(i+1)+ ",not_found\n")
        f.close()
        continue
    #print("correct:")
    #print(len(article.cleaned_text))
    f = open(raw_dir+'/'+str(i+1) + '.txt','w',errors='ignore')
    f.write(article.cleaned_text)
    f.close()
print("Elapsed time: ",round(time.time() - start_time, 4))

Elapsed time:  10168.9897

# recover dead urls

In [5]:
from googlesearch import search
#ip=raw_input("What would you like to search for? ")

#for url in search("What would you like to search for? ", stop=1):
#     print(url)

In [6]:
import os
import pandas as pd
import numpy as np

In [7]:
raw_dir = './raw_train'
if not os.path.exists(raw_dir):
    os.makedirs(raw_dir)

In [8]:
articles_df = pd.read_csv("input/train_v2.csv")
#articles_df = pd.read_csv("input/test_v2.csv")

In [9]:
articles_df.head()

,article_id,title,url,publisher,hostname,timestamp,category
0,1,Forex - Pound drops to one-month lows against ...,http://www.nasdaq.com/article/forex-pound-drop...,NASDAQ,www.nasdaq.com,1.390000e+12,4
1,2,Hertz to Exit Equipment Rental Business in $2....,http://www.foxbusiness.com/industries/2014/03/...,Fox Business,www.foxbusiness.com,1.400000e+12,2
2,3,Gold ETF inflows return,http://www.resourceinvestor.com/2014/03/09/gol...,Resource Investor,www.resourceinvestor.com,1.390000e+12,4
3,4,"Hackers call Mt. Gox CEO a liar, say he still ...",http://bgr.com/2014/03/10/mt-gox-fraud-accusat...,BGR,bgr.com,1.390000e+12,4
4,5,Gold Climbs To Near 6-Month High On Concerns A...,http://www.forbes.com/sites/kitconews/2014/03/...,Forbes,www.forbes.com,1.390000e+12,4

In [10]:
error_data = pd.read_csv('raw_train/error.txt', sep=",", header=None)

In [11]:
error_data.head()

   0          1
0  2  not_found
1  3  not_found
2  4  not_found
3  6  not_found
4  9  not_found

def saveArticle(url,article_id,dest):
    try:
        article = g.extract(url=url)
    except:
        f = open(dest+'/error.txt','a',errors='ignore')
        f.write(str(article_id)+ ",url_error\n")
        f.close()
        return
    #print(article.title)
    #print(articles_df['title'][i])
    #print(article.title==articles_df['title'][i])
    #print(article.cleaned_text)
    if similar(article.title,articles_df['title'][i])<0.5:# and len(article.cleaned_text)<1000:
        #print("not found:")
        #print(article.title)
        #print(articles_df['title'][i])
        #print(article.cleaned_text)
        #print(len(article.cleaned_text))
        f = open(raw_dir+'/error.txt','a',errors='ignore')
        f.write(str(i+1)+ ",not_found\n")
        f.close()
        return
    #print("correct:")
    #print(len(article.cleaned_text))
    f = open(dest+'/'+str(article_id) + '.txt','w',errors='ignore')
    f.write(article.cleaned_text)
    f.close()

In [12]:
error_data.shape

(2725, 2)

In [21]:
error_data[0][166]

324

In [12]:
for i in error_data[0]:
#for i in range(3):
    title=articles_df['title'][i-1]
    try:
        url=next(search(title, stop=1))
        article = g.extract(url=url)
    except:
        f = open(raw_dir+'/error2.txt','a',errors='ignore')
        f.write(str(i)+ ",url_error\n")
        f.close()
        continue
    #print(article.title)
    #print(articles_df['title'][i])
    #print(article.title==articles_df['title'][i])
    #print(article.cleaned_text)
    if similar(article.title,title)<0.5:# and len(article.cleaned_text)<1000:
        #print("not found:")
        #print(article.title)
        #print(articles_df['title'][i])
        #print(article.cleaned_text)
        #print(len(article.cleaned_text))
        f = open(raw_dir+'/warn.txt','a',errors='ignore')
        f.write(str(i)+ ",no_original,"+title+","+article.title+"\n")
        f.close()
    #print("correct:")
    #print(len(article.cleaned_text))
    #if os.path.exists(raw_dir+'/'+str(i) + '.txt'):
    #    print(i)
    #    continue
    f = open(raw_dir+'/'+str(i) + '.txt','w',errors='ignore')
    f.write(article.cleaned_text)
    f.close()

In [22]:
max_urls=5
max_trial=5
for i in error_data[0]:
#for i in range(3):
    if i%100<6:
        print(i)
    title=articles_df['title'][i-1]
    urls=[]
    search_successful=False
    #try query google max trial times if one query got problem
    for j in range(max_trial):
        try:
            searchResult=search(title, stop=2)
            
            for k in range(max_urls):
                urls.append(next(searchResult))
            search_successful=True
            break
        except Exception as e: 
            print(e)
    if not search_successful:
        f = open(raw_dir+'/error2.txt','a',errors='ignore')
        f.write(str(i)+ ",search_error\n")
        f.close()
        continue
    #print(urls)
    articles=[]
    for j in range(max_urls):
        for k in range(max_trial):
            try:
                article = g.extract(urls[j])
                article_successful=True
                articles.append(article)
                break
            except Exception as e: 
                print(e)
    if len(articles)==0:
        f = open(raw_dir+'/error2.txt','a',errors='ignore')
        f.write(str(i)+ ",url_error\n")
        f.close()
        continue
    best_article=0
    max_similarity=0
    for j in range(len(articles)):
        #print(articles[j].title)
        similarity=similar(articles[j].title,title)
        if similarity>max_similarity:
            best_article=j
            max_similarity=similarity
    #print(best_article)
    #print(max_similarity)
    #print(article.title)
    #print(articles_df['title'][i])
    #print(article.title==articles_df['title'][i])
    #print(article.cleaned_text)
    if max_similarity<0.5:# and len(article.cleaned_text)<1000:
        #print("not found:")
        #print(article.title)
        #print(articles_df['title'][i])
        #print(article.cleaned_text)
        #print(len(article.cleaned_text))
        f = open(raw_dir+'/warn.txt','a',errors='ignore')
        f.write(str(i)+ ",original_not_found,"+title+","+article.title+"\n")
        f.close()
    #print("correct:")
    #print(len(article.cleaned_text))
    #if os.path.exists(raw_dir+'/'+str(i) + '.txt'):
    #    print(i)
    #    continue
    f = open(raw_dir+'/'+str(i) + '.txt','w',errors='ignore')
    f.write(articles[best_article].cleaned_text)
    f.close()

403















2203
HTTP Error 503: Service Unavailable
HTTP Error 503: Service Unavailable
HTTP Error 503: Service Unavailable
HTTP Error 503: Service Unavailable
HTTP Error 503: Service Unavailable
HTTP Error 503: Service Unavailable
HTTP Error 503: Service Unavailable